<% provide :title, "Home" %>

<div class="jumbotron">
  <h1 class="text-center">Welcome to the InstaRails - Instagram on Rails!</h1>
  <%= link_to "Sign up", new_user_registration_path, { class: "btn btn-primary btn-lg btn-block" } %>
</div>

